<html>
<head>
<title>SWPP - Graph Display</title>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
<style>

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
}

.svg-container {
    position: fixed;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#urlbox {
    display: fixed;
    top: 0;
    left: 0;
}

</style>
</head>
<body onload="SWPP.init({{json}})">
    <div class="svg-container"></div>
</body>
</html>
